html {
	width: 1200px;
}

body {
        background-color: whitesmoke;
        margin: 0;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 13px;
        line-height: 18px;
        color: #333333;
        background-color: #ffffff;
}

div {
        display: block;
}

.container {
        width: 800px;
        margin:0 0 0 190px;  
        background-color: white;
        padding-top: 10px;
        padding-bottom: 20px;      
        
}


.container_front {
        background-color: whitesmoke;
        width: 800px;
        margin: 5px 20px 20px 20px;
        padding: 20px 20px 0 20px
}


.footer {
        padding: 3px;
	width: 800px;
        background-color: #E34234;
        margin-left: 20px;
        border-radius: 5px;
}

.footertext {
        text-align: center;
        font-size: 14px;
        color: white;
}

h1 {
        font-family: Georgia, serif;
        text-align: center;
        font-size: 25px;
        padding: 25px 20px 23px 155px;
        letter-spacing: 1px;
}

h1 a{
    color: #002868

}

a {
    text-decoration: none;
}

h2 {
        font-family: Georgia, serif;
	font-size: 16px;
	color: #002868;
	letter-spacing: 1px;
	padding: 0 0 10px 156px;
	border-radius: 5px;
        margin: 0 200px 0 200px;
}

.nav {
        margin: 0 20px 0 20px;
	padding: 0;
	list-style: none;
        height: 36px;
        font-size: small;
            text-align: center

}

.nav a {
    color: #002868;
    font-size: larger;
    margin: 0 20px 0 20px;
    text-align: center
  
}
table {
   width: 100%;
}

table td.lable {
   width: 150px;
}
